<a href="https://colab.research.google.com/github/michaelll22/CPEN-21A-ECE-2-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", 
        "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", 
        "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", 
        "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
print(x)

Thursday

Looping through String

In [ ]:
for x in "Thursday":
  print(x)

T
h
u
r
s
d
a
y

The range() function

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print (x)

2
3
4
5

Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1    #Assignment operator for addition

1
2
3
4
5

The Break Statement

In [ ]:
i = 1

while i < 6:
  print(i)
  if i == 3:
    break
  i += 1    #Assignment oprator for addition

1
2
3

In [ ]:
i = 0

while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The Else Statement

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1

else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [ ]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically

for a in range(11):
  print("Hello", a)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

Application 2

In [2]:
#Create a Python program that displays integers less than 10 but not less than 3

for b in range(10):
  if b >= 3:
    print(b)

3
4
5
6
7
8
9

Application 1(While)

In [ ]:
c = -1

#application 1

while c < 10:
  c += 1
  print("hello", c)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

Application 2(While)

In [1]:
a = 1

#application 2

while a < 10:
  a += 1
  if a >= 3:
    print(a)
    if a == 9:
      break

3
4
5
6
7
8
9