<a href="https://colab.research.google.com/github/michaelll22/CPEN-21A-ECE-2-2/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Boolean Operators

In [7]:
a = 10
b = 9
c = 8

print (10 > 9)
print (10 == 9)
print (10 < 9)

print (a)

print (a > b)
c = print (a > b)

c

True
False
False
10
True
True

In [15]:
##true
print(bool("Hello"))
print(bool(15))
print(bool(True))
print(bool(1))

##false
print(bool(False))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
True
False
False
False

In [20]:
def myFunction(): 
  return True

print(myFunction())

True

In [22]:
def myFunction():
  return True

if myFunction():
  print("Yes/True")
else:
  print("No/Flase")

Yes

In [25]:
print(10>9)

a = 6 #0000 0110
b = 7 #0000 0111

print(a == b)
print(a != b)

True
False
True

##Python Operators

In [27]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 % 5)
print(10 // 3)
print(10 ** 2)

15
5
50
2.0
0
3
100

##Bitwise Operators

In [31]:
a = 60 #0011 1100
b = 13 

print (a^b)
print (~a)
print (a<<2)
print (a>>2) #0000 1111

49
-61
240
15

##Assignment Operator

In [40]:
x = 2
x += 3 #Same As x = x+3
print(x)
x

5

5

##Logical Operators

In [54]:
a = 5
b = 6

print(a>b and a==a)
print(a<b or b==a)

False
True

##Identity Operator

In [56]:
print(a is b)
print(a is not b)

False
True